.txt{

    width: 40%;
    margin-left: 30%;
}

.logInBox{

    width: 50%;
    height: 800px;
    display: flex;
    align-items: center;


}

.banner{
    background-image: url("../../assets/img/logo.jpeg");
    background-size: cover;
    width: 60%;

}


.btn-in{
    width: fit-content;
    margin-left: 25% !important;
}