

.objects {
    display: flex;
    justify-content: center;

}

.cont-main{
    padding-top: 10%;
}

.titulo {
    font-size: 100px;
    display:flex;
    justify-content: center;
    font-family: cursive;
}

