.tableTitle{
    text-align: center;
    margin: 30px auto;
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.tableHead{
    background-color: teal;
}

.tableRow:nth-child(odd){
    background-color: rgb(153, 210, 210);
}

.tableRow:nth-child(even){
    background-color: rgb(194, 234, 234);
}

.root{
      width: '100%';
      display : flex;
      flex-direction: row;  
      justify-content:center;
  }

.textfield{
    width : 30%;
  }